*.rar
*.o
*.d
*.crf
*.htm
*.dep
*.map
*.bak
*.lnp
*.lst
*.ini
*.iex
*.sct
*.scvd
*.uvguix
*.dbg*
*.uvguix.*
.mxproject
 
RTE/
Templates/
Examples/
 
*.uvprojx
*.uvoptx
!*.h
!*.c
!*.ioc
*.axf
!*.bin
*.hex

.vscode



# LaTex ignore
*.aux
*.bbl
*.log
*.out
*.synctex.gz
*.fdb_latexmk
*.fls
*.toc
*.xdv